.card-title{
  color: rgba(7, 0, 0, 0.933);
  /* background-color: #dfb228; */
  background-color: #dfb228;

  padding: 20px;
  font-size: 36px;

}

.card-header {
  color: rgba(7, 0, 0, 0.933);
  /* background-color: #dfb228; */
  background-color: #dd8826;
  border: 1px solid rgba(0,0,0,.125);
  padding: 10px;
  font-size: 24px;
}
h4 {
  background-color: #dfb228;
  font-size: 32px;
  padding: 10px;
  margin: 0;
  margin-top:20px;
}

.card-subheader {
  color: rgba(7, 0, 0, 0.933);
  background-color: #dd8826;
  padding: 10px;
  font-size: 18px;
}
#weather-icon-large {
  width: 10%;
  height: 10%;
}
#weather-icon-small {
  width: 50%;
  height: 50%;
}
#weather-content {
  font-size: 24px;
}
.city-btn {
  background-color: #f9fad1;
  border-radius: .25rem;
  border: 1px solid rgba(133, 133, 133, 0.712);
  margin:3px;
}
#search-btn{
  margin-top:5px;
}
.uv {
  padding:5px;
}

#mainCurrentCard{
border: none;
}
.card-body{
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}


/* credits to https://bootsnipp.com/anirudhabhowmik -  https://bootsnipp.com/snippets/nNvMQ */
html, body, .sonar-wrapper {
  height: 100%;
}

/* Prevent scrollbars to appear when waves go out of bound */
.sonar-wrapper {
  position: relative;
  z-index: 0;
  overflow: hidden;
  padding: 1rem 0;
}

/* The circle */
.sonar-emitter {
  position: relative;
  margin: 0 auto;
  width: 50px;
  height: 50px;  
  /* width: 275px;
  height: 275px; */
  border-radius: 50%;
  background-color: HSL(45,100%,50%);
}

/* the 'wave', same shape and size as its parent */
.sonar-wave {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: HSL(45,100%,50%);
  opacity: 0;
  z-index: -1;
  pointer-events: none;
   animation: sonarWave 2s linear infinite;
}
@keyframes sonarWave {
  from {
    opacity: 0.4;
  }
  to {
    transform: scale(3);
    opacity: 0;
  }
}
